body{
    background-color: #3A0519;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@font-face {
    font-family: 'SuperMario';
    src: url("SuperMario256.ttf") format('truetype');
}

h1, #resultdisplay, #playerdisplay, #computerdisplay {
    font-family: 'SuperMario', sans-serif;
}

.scoreDisplay{
    font-size: 2rem;
}
h1{ 
    font-size: 5.5rem;
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border: 3px solid rgb(174, 158, 158);
    box-shadow: 10px black;
    border-radius: 250px;
    background-color: rgb(6, 126, 255);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: rgb(6, 56, 255);

}
#playerdisplay{
    color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
}
#computerdisplay{
     color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
}
#resultdisplay{
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.822);
    font-size: 5rem;
    margin: 30px 0;
}
.redtext{
    color: tomato;
}
.greentext{
    color: green;
}
#playerScore{
    color: green;
}
#ComputerScore{
    color:tomato;
}
